body{
    background-image: url('components/background-image.jpeg');
    background-size: cover;
}

.header{
    color: white;
    text-align: center;
    font-size: 50px;
}

.label{
    color: white;
    font-size: 35px;
}

.input{
    text-align: center;
    margin-top: 100px;
}

Input#inputfield{
    border: solid;
    width: 50%;
    margin: auto;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

button#click-me{
    background-color: #0dcaf0;
    width: 100px;
    padding: 10px;
    margin-right: 20px;
}

button#reset{
    background-color: #0dcaf0;
    width: 100px;
    padding: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}